.offer_percentage_red {
    background-color: #fa4b4b;
    color: white;
    font-weight: bold;
}

.offer_percentage_orange {
    background-color: #f2933f;
    color: white;
    font-weight: bold;
}

.offer_percentage_green {
    background-color: #90f754;
    color: white;
    font-weight: bold;
}